# Ignore local virtualenv (if present)
.venv/

.env*
**/.env*
.invenio.private*
docker/nginx/samlPrivateKey.key
docker/nginx_containerized/samlPrivateKey.key
docker/nginx_staging/samlPrivateKey.key
docker-compose*

.git/
**/.git*
.github/
**/.github*
.pytest_cache/
**/.pytest_cache/
.vscode/
logs/*
**/test_logs
**/logs
scripts/experiments
scripts/sample_files
site/build
site/kcworks.egg-info
static/admin
static/dist
static/bootstrap
static/css
static/images/assets_library
static/js
static/templates
static/vendor
static/xsl

