# Ignore local virtualenv (if present)
.venv

# Python bytecode and compiled files
__pycache__/
*.py[cod]
*$py.class
.Python
*.so

.env*
**/.env*
.invenio.private*
docker/nginx_local/samlPrivateKey.key
docker/nginx_local/samlCertificate.key
docker-compose*

.git/
**/.git*
.github/
**/.github*
.pytest_cache/
**/.pytest_cache/
.vscode/
logs/*
**/test_logs
**/logs
scripts/experiments
scripts/sample_files
site/build
site/kcworks.egg-info
static/admin
static/dist
static/bootstrap
static/css
static/images/assets_library
static/js
static/templates
static/vendor
static/xsl

