# Example private environment variables for docker services
#
# Variables that are instance-specific and overrides of values in invenio.cfg.
#
# These values are not actually secrets and may be copied into your local .env file as a 
# starting point. They provide enough default settings to run a KCWorks instance in, e.g.,
# the containerized development environment.
# 
# You may modify these values to suit your local context. Genuinely secret values should never be stored here in plain text. Nevertheless, .env
# is also .gitignored to prevent accidental exposure of secrets via version control.
#
# NOTE: MOST OF THESE VALUES *WOULD* BE GENUINE SECRETS OUTSIDE OF A STRICTLY DEVELOPMENT
# ENVIRONMENT! NEVER COMMIT NON-DEVELOPMENT VALUES TO VERSION CONTROL OR SAVE THEM IN A
# PLAIN TEXT .ENV FILE.

# uncomment to use test stats data
INVENIO_STATS_DASHBOARD_USE_TEST_DATA=False

# uncomment for staging/production
# INVENIO_FILES_REST_STORAGE_FACTORY = 'invenio_s3.s3fs_storage_factory'

INVENIO_ADMIN_EMAIL="hello@hcommons.org"

INVENIO_SITE_UI_URL="https://localhost:8443"
INVENIO_SITE_API_URL="https://localhost:8443/api"
INVENIO_KC_WORDPRESS_DOMAIN="hcommons-dev.org"

# for mail
INVENIO_MAIL_SUPPRESS_SEND="True"

# for invenio
INVENIO_SECRET_KEY='CHANGE_ME'
INVENIO_SECURITY_LOGIN_SALT='56df9ae0ee9f534dd9ee83bb8b4788ece0a52a4083427d4ee64dbb23f5d67082'
INVENIO_CSRF_SECRET_SALT='90a3a99959cbf7b0845b7cca5df34cc4ced8a8e68840bac441649e9fae21017d'
INVENIO_SECURITY_PASSWORD_SALT="CjJFKUPTyQbFQE4drcfusnPz7ziXDydPqFNueMiPVrhVdtQ3YRkQKQb9wk4emriy"
INVENIO_SECURITY_CONFIRM_SALT="AriAgGeAX7qvtfDL7WRmucx99nXLiE46K3creJLbouV9XVxgUdkPYkYGedJU7pt9"
INVENIO_SECURITY_RESET_SALT="nrgYCwc4pMrgcUNNGKCXQDiQwLNwp4jxtatfeVFxXZTEheHHjP6zxkEJA8HJrowD"
INVENIO_SECURITY_CHANGE_SALT="fQTMqZLUF6uAzZwQpWHQ4o8wAjvoVLGtQgXigbGqauU2qXN4aW6LKo6vtv9fv7pX"
INVENIO_SECURITY_REMEMBER_SALT="gxgskBCboKWesdNews4ff8XAK66yLFmAhXztwmcNGb7tkrDW7kgun6d3Jp32DZsE"

# for opensearch
INVENIO_SEARCH_DOMAIN='search:9200'
# OpenSearch Configuration (for faster machines with indexing issues)
# defaults in docker-services.yml
OPENSEARCH_HEAP_SIZE=1g
OPENSEARCH_MEMORY_LIMIT=6g
OPENSEARCH_CPUS=8.0
APP_CPUS=4.0
# APP_MEMORY_LIMIT=12g

# for redis
REDIS_DOMAIN='cache:6379'

# for postgresql
POSTGRES_USER=kcworks
POSTGRES_PASSWORD=kcworks
POSTGRES_DB=kcworks
INVENIO_SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://kcworks:kcworks@db/kcworks"

# for InvenioRDM rest api authorization
API_TOKEN=GPml70IeJU8UqZM8WKXpOLWx7yX5cTusEC6fvCNYUxcBhC7sFR9RDtqwoeZE

# directory on the local file system
INVENIO_RECORD_IMPORTER_LOCAL_DATA_DIR='/opt/invenio/var/import_data'
INVENIO_RECORD_IMPORTER_DATA_DIR='/opt/invenio/var/import_data'

FLASK_DEBUG=1
INVENIO_LOGGING_CONSOLE_LEVEL=DEBUG

KCWORKS_ALLOWED_HOSTS="localhost,localhost:8443,127.0.0.1,127.0.0.1:8443,host.docker.internal,*.hcommons-dev.org,*.hcommons-staging.org,*.hcommons.org,*.kcommons.org"

# Legacy MacOS variable for system Python (under 3.12)
# SYSTEM_VERSION_COMPAT=0

KCWORKS_CONTAINERS_BASE_NAME=kcworks-next

INVENIO_INSTANCE_PATH=/opt/invenio/var/instance

