[submodule "site/kcworks/dependencies/invenio-records-resources"]
	path = site/kcworks/dependencies/invenio-records-resources
	url = https://github.com/MESH-Research/invenio-records-resources.git
	branch = local-working
[submodule "site/kcworks/dependencies/invenio-rdm-records"]
	path = site/kcworks/dependencies/invenio-rdm-records
	url = https://github.com/MESH-Research/invenio-rdm-records.git
	branch = local-working
[submodule "site/kcworks/dependencies/invenio-communities"]
	path = site/kcworks/dependencies/invenio-communities
	url = https://github.com/MESH-Research/invenio-communities.git
	branch = local-working
[submodule "site/kcworks/dependencies/invenio-vocabularies"]
	path = site/kcworks/dependencies/invenio-vocabularies
	url = https://github.com/MESH-Research/invenio-vocabularies.git
	branch = local-working
