[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[dev-packages]
check-manifest = ">=0.25"
halo = "*"
jsonlines = "*"
requests-mock = "*"
selenium = "*"

[packages]
cchardet = "==2.1.7"
flask-principal = "*"
halo = "*"
invenio-app-rdm = {version = "~=12.0.0b2.dev72", extras = ["opensearch2"]}
invenio-cli = "==1.0.21"
invenio-s3 = "*"
invenio-utilities-tuw = "*"
isbnlib = "*"
xmlsec = "*"
invenio-saml = "*"
langdetect = "*"
pip = "*"
pytest-invenio = "*"
python-dotenv = "*"
python-iso639 = "*"
python-stdnum = "*"
selenium = "*"
sqlalchemy = {version = "*", extras = ["asyncio"]}
titlecase = "*"
tqdm = "*"
timefhuman = "*"
uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"
aiohttp = "*"
invenio-modular-detail-page = {editable = true, path = "./../invenio-modular-detail-page/invenio-modular-detail-page"}
invenio-modular-deposit-form = {editable = true, path = "./../invenio-modular-deposit-form"}
knowledge-commons-repository = {editable = true, path = "./site"}
invenio-remote-user-data = {editable = true, path = "./../invenio-remote-user-data"}
invenio-record-importer = {editable = true, path = "./../invenio-record-importer"}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
