[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"
halo = "*"
jsonlines = "*"
requests-mock = "*"
selenium = "*"
docker-services-cli = "*"
sphinx = "*"
myst-parser = "*"
furo = "*"

[packages]
aiohttp = "*"
async-timeout = ">=4.0.3"
cchardet = "==2.1.7"
flask-admin = "==1.6.1"
flask-babelex = "*"
flask-breadcrumbs = "*"
flask-principal = "*"
greenlet = {}
halo = "*"
invenio-app-rdm = {version = ">=12.0.0,<13.0.0", extras = ["opensearch2"]}
invenio-communities = {editable = true, path = "./site/kcworks/dependencies/invenio-communities"}
invenio-group-collections-kcworks = {editable = true, path = "./site/kcworks/dependencies/invenio-group-collections-kcworks"}
invenio-logging = {version = "<2.1.2"}
invenio-modular-deposit-form = {editable = true, path = "./site/kcworks/dependencies/invenio-modular-deposit-form"}
invenio-modular-detail-page = {editable = true, path = "./site/kcworks/dependencies/invenio-modular-detail-page"}
invenio-rdm-records = {editable = true, path = "./site/kcworks/dependencies/invenio-rdm-records"}
invenio-record-importer-kcworks = {editable = true, path = "./site/kcworks/dependencies/invenio-record-importer-kcworks"}
invenio-records-resources = {editable = true, path = "./site/kcworks/dependencies/invenio-records-resources"}
invenio-remote-api-provisioner = {editable = true, path = "./site/kcworks/dependencies/invenio-remote-api-provisioner"}
invenio-remote-user-data-kcworks = {editable = true, path = "./site/kcworks/dependencies/invenio-remote-user-data-kcworks"}
invenio-s3 = "*"
invenio-saml = "*"
invenio-subjects-fast = "*"
invenio-utilities-tuw = "*"
invenio-vocabularies = {editable = true, path = "./site/kcworks/dependencies/invenio-vocabularies"}
isbnlib = "*"
langdetect = "*"
numpy = "*"
pip = "*"
pytest-invenio = {version = "<3.0.0"}
python-dotenv = "*"
python-iso639 = "*"
python-stdnum = "*"
selenium = "*"
sqlalchemy = { extras = ["asyncio"]}
timefhuman = "*"
titlecase = "*"
tqdm = "*"
unidecode = "*"
uwsgi = ">=2.0"
uwsgi-tools = ">=1.1.1"
uwsgitop = ">=0.11"
xmlsec = "<1.3.14"
kcworks = {file = "site", editable = true}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
