[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[dev-packages]
check-manifest = ">=0.25"
halo = "*"
jsonlines = "*"
requests-mock = "*"
selenium = "*"

[packages]
cchardet = "==2.1.7"
flask-principal = "*"
flask-menu = "==0.7.2"
halo = "*"
invenio-accounts = "==3.0.3"
invenio-administration = "==1.6.0"
invenio-app-rdm = {version = "==12.0.0b2.dev9", extras = ["opensearch2", "postgresql"]}
invenio-assets = "==3.0.0"
invenio-banners = "==2.1.0"
invenio-cli = "==1.0.21"
invenio-communities = "==7.0.0"
invenio-drafts-resources = "==1.4.2"
invenio-formatter = "==1.2.0"
invenio-i18n = "==2.0.0"
invenio-notifications = "==0.2.0"
invenio-oauthclient = "==3.1.2"
invenio-requests = "==2.5.0"
invenio-s3 = "*"
invenio-subjects-fast = "*"
invenio-theme = "==2.1.2"
invenio-users-resources = "==2.0.0"
invenio-utilities-tuw = "*"
isbnlib = "*"
xmlsec = "*"
invenio-saml = "*"
langdetect = "*"
pip = "*"
Pillow ="==9.5.0"
pytest-invenio = "*"
python-dotenv = "*"
python-iso639 = "*"
python-stdnum = "*"
selenium = "*"
sqlalchemy = {version = "*", extras = ["asyncio"]}
titlecase = "*"
tqdm = "*"
timefhuman = "*"
uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"
aiohttp = "*"
invenio-modular-detail-page = {editable = true, path = "./../invenio-modular-detail-page/invenio-modular-detail-page"}
invenio-modular-deposit-form = {editable = true, path = "./../invenio-modular-deposit-form"}
invenio-groups = {editable = true, path = "./../invenio-groups"}
invenio-records-resources = {editable = true, path = "./../invenio-records-resources"}
invenio-rdm-records = {editable = true, path = "./../invenio-rdm-records"}
invenio-vocabularies = {editable = true, path = "./../invenio-vocabularies"}
knowledge-commons-repository = {editable = true, path = "./site"}
invenio-remote-user-data = {editable = true, path = "./../invenio-remote-user-data"}
invenio-record-importer = {editable = true, path = "./../invenio-record-importer"}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
