{% set record = notification.context.record %}
{% set receiver = notification.context.receiver %}
{% set message = notification.context.message | safe if notification.context.message else '' %}
{% set permission = notification.context.permission %}

{% set record_title = record.metadata.title %}
{% set record_link = record.links.self_html %}
{% set account_settings_link = "{ui}/account/settings/notifications".format(
    ui=config.SITE_UI_URL
    )
%}

{%- block subject -%}
    {%- if record.is_published -%}
        {{ _("KCWorks | Granted {permission} access to '{record_title}'").format(permission=permission, record_title=record_title) }}
    {%- else -%}
        {%- if record_title -%}
            {{ _("KCWorks | Granted {permission} access to draft '{record_title}'").format(permission=permission, record_title=record_title) }}
        {%- else -%}
            {{ _("KCWorks | Granted {permission} access to a draft").format(permission=permission) }}
        {%- endif -%}
    {%- endif -%}
{%- endblock subject -%}

{%- block html_body -%}
<table style="font-family:'Lato',Helvetica,Arial,sans-serif;border-spacing:15px">
    <tr>
        <td>
          {{ _("There's been some activity on your Knowledge Commons Works account!")}}
        </td>
    </tr>
    <tr>
        <td>
        {%- if record.is_published -%}
            {{ _("You now have permission to {permission} all versions of the record '{record_title}'.").format(record_title=record_title, permission=permission) }}
        {%- else -%}
            {%- if record_title -%}
                {{ _("You now have permission to {permission} the draft '{record_title}'.").format(record_title=record_title, permission=permission) }}
            {%- else -%}
                {{ _("You now have permission to {permission} a draft.").format(permission=permission) }}
            {%- endif -%}
        {%- endif -%}

        {% if message %}
            <br>
            <br>
            {{ _("Message: ") }}
        {% endif %}
        </td>
    </tr>
    <tr>
        {% if message %}
        <td><em>{{ message }}</em></td>
        {% endif %}
    </tr>
    <tr>
        {%- if record.is_published -%}
            <td><a href="{{ record_link }}" class="button">{{ _("View the record") }}</a></td>
        {%- else -%}
            <td><a href="{{ record_link }}" class="button">{{ _("View the draft") }}</a></td>
        {%- endif -%}
    </tr>
    <tr>
        <td><strong>_</strong></td>
    </tr>
    <tr>
        <td style="font-size:smaller">{{ _("This is an auto-generated message.") }}</td>
    </tr>
    {# <tr>
        <td style="font-size:smaller">{{ _("This is an auto-generated message. To manage notifications, visit your")}} <a href="{{account_settings_link}}">{{ _("account settings")}}</a>.</td>
    </tr> #}
</table>
{%- endblock html_body -%}

{%- block plain_body -%}
    {{ _("There's been some activity on your Knowledge Commons Works account!" ) }}

    {%- if record.is_published -%}
        {{ _("You now have permission to {permission} all versions of the record '{record_title}'.").format(record_title=record_title, permission=permission) }}
    {%- else -%}
        {%- if record_title -%}
            {{ _("You now have permission to {permission} the draft '{record_title}'.").format(record_title=record_title, permission=permission) }}
        {%- else -%}
            {{ _("You now have permission to {permission} the draft.").format(permission=permission) }}
        {%- endif -%}
    {%- endif -%}

{% if message %}
<br>
<br>
{{ _("Message:") }}
{{ message }}
{% endif %}

{%- if record.is_published -%}
    {{ _("View the record: ") }}{{ record_link }}
{%- else -%}
    {{ _("View the draft: ") }}{{ record_link }}
{%- endif -%}

{{ _("This is an auto-generated message.") }}
{# {{ _("This is an auto-generated message. To manage notifications, visit your account settings: ") }}{{ account_settings_link }} #}
{%- endblock plain_body -%}

{%- block md_body -%}
{{ _("There's been some activity on your Knowledge Commons Works account!  ") }}

{%- if record.is_published -%}
    {{ _("You now have permission to {permission} all versions of the record '{record_title}'.").format(record_title=record_title, permission=permission) }}
{%- else -%}
    {%- if record_title -%}
        {{ _("You now have permission to {permission} the draft '{record_title}'.").format(record_title=record_title, permission=permission) }}
    {%- else -%}
        {{ _("You now have permission to {permission} the draft.").format(permission=permission) }}
    {%- endif -%}
{%- endif -%}

{% if message %}
{{ _("Message:  ") }}
{{ message }}
{% endif %}

{%- if record.is_published -%}
    {{ _("View the record: ") }}{{ record_link }}
{%- else -%}
    {{ _("View the draft: ") }}{{ record_link }}
{%- endif -%}

{{ _("This is an auto-generated message.") }}
{# {{ _("This is an auto-generated message. To manage notifications, visit your account settings: ") }}{{ account_settings_link }} #}
{%- endblock md_body -%}
