
<table>
    <tr>
        <td>
            <center >
            <h1>Welcome to Knowledge Commons Works!</h1>
            </center>
            <p>{{ _('Welcome %(email)s!', email=user.email) }}</p>
            {% if security.confirmable %}
            <p>{{ _('You can confirm your email through the link below:') }}</p>

            <p><a href="{{ confirmation_link }}">{{ _('Confirm my account') }}</a></p>
            {% endif %}

            <p>Welcome to KCWorks, the next generation of the Knowledge Commons repository! With KCWorks, you can:
            <ul>
                <li>Mint DOIs for every work you upload</li>
                <li>Share your works through feeds to Google Scholar, core.ac.uk, and other metadata aggregators</li>
                <li>Create multiple versions of one work, and add multiple files within one record</li>
                <li>Contribute to collections of similar works</li>
                <li>Control the metadata you’d like to share about a work, and hide works that are outdated</li>
            </ul>
            </p>

            <p>Need additional assistance with KCWorks? Visit <a href="https://support.hcommons.org">support.hcommons.org</a> to view our full help guides.</p>

            <p>KCWorks is currently in public beta, which means the repository is fully functional, but we’re still tweaking things behind the scenes. Use <a href="https://msu.co1.qualtrics.com/jfe/form/SV_1G1u7r34E4IE8dw">this form</a> to provide us with feedback.</p>

            <p>Need additional assistance with KCWorks? Visit <a href="https://support.hcommons.org">support.hcommons.org</a> to view our full help guides.</p>

            <p>
            Happy sharing!<br/>
            The Knowledge Commons Team
            </p>
        </td>
    </tr>
</table>